In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras import layers
import matplotlib.pyplot as plt

In [27]:
df_1 = pd.read_excel('RJ_Reconstrucao_Carangidae_2024_08_07.xlsx')
df_2 = pd.read_excel('propor\Proporcao_Xarelete_art_.xlsx')

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Renan\AppData\Local\Temp\ipykernel_19476\2800791974.py:2: SyntaxWarning: invalid escape sequence '\P'
  df_2 = pd.read_excel('propor\Proporcao_Xarelete_art_.xlsx')

In [28]:
print(df_1)

     Ano  Outros_caran_art  Outros_caran_ind  Xarelete_art  Xarelete_ind  \
0   1950               NaN               NaN           NaN           NaN
1   1951               NaN               NaN           NaN           NaN
2   1952               NaN               NaN           NaN           NaN
3   1953               NaN               NaN           NaN           NaN
4   1954               NaN               NaN           NaN           NaN
..   ...               ...               ...           ...           ...
68  2018               NaN               NaN      74.72815     1631.2248
69  2019               NaN               NaN      74.27050     2075.3352
70  2020               NaN               NaN      79.14280     1763.2538
71  2021               NaN               NaN      77.22128     2572.3550
72  2022               NaN               NaN      61.21620     2374.7366

    Xarelete_art_ind  Xerelete_azul_art  Xerelete_azul_ind  Gracainha_art  \
0                NaN                NaN                NaN            NaN
1                NaN                NaN                NaN            NaN
2                NaN                NaN                NaN            NaN
3                NaN                NaN                NaN            NaN
4                NaN                NaN                NaN            NaN
..               ...                ...                ...            ...
68               NaN                NaN                NaN            NaN
69               NaN                NaN                1.5            NaN
70               NaN             0.0015                NaN            NaN
71               NaN                NaN                NaN            NaN
72               NaN                NaN                NaN            NaN

    Gracainha_ind  ...  Palombeta_art  Palombeta_ind  Pampo_art  Pampo_ind  \
0             NaN  ...            NaN            NaN        NaN        NaN
1             NaN  ...            NaN            NaN        NaN        NaN
2             NaN  ...            NaN            NaN        NaN        NaN
3             NaN  ...            NaN            NaN        NaN        NaN
4             NaN  ...            NaN            NaN        NaN        NaN
..            ...  ...            ...            ...        ...        ...
68            NaN  ...         3.0293       484.8190    3.39710     2.1730
69            NaN  ...        10.1621       264.0540    5.20440     6.2870
70            NaN  ...         6.5799        40.6270    5.50115     0.1620
71            NaN  ...         2.3686       457.6130    3.20178     1.0454
72            NaN  ...         1.9349       239.1946    2.85201     0.0390

    Pampo_galhudo_art  Saramiguara_art  Saramiguara_ind  Vento_leste_art  \
0                 NaN              NaN              NaN              NaN
1                 NaN              NaN              NaN              NaN
2                 NaN              NaN              NaN              NaN
3                 NaN              NaN              NaN              NaN
4                 NaN              NaN              NaN              NaN
..                ...              ...              ...              ...
68                NaN           0.1505              NaN           0.0456
69                NaN           0.0930           0.0080           0.0030
70                NaN           0.0870              NaN           0.0020
71                NaN           0.0027              NaN              NaN
72                NaN           0.0979           0.0428              NaN

    Xixarro_art  Xixarro_ind
0           NaN          NaN
1           NaN          NaN
2           NaN          NaN
3           NaN          NaN
4           NaN          NaN
..          ...          ...
68       8.8828      21.2790
69      76.4669       2.4350
70       2.2850       5.5960
71     935.0050       0.5010
72      10.5135       1.2165

[73 rows x 45 columns]

In [29]:
x1 = df_1[['Ano', 'Xarelete_art_ind']]
x2 = df_2[['Ano', 'Captura Preditos']]

x1= pd.DataFrame(x1, columns= ['Ano', 'Xarelete_art_ind'])
x2= pd.DataFrame(x1, columns= ['Ano', 'Captura Preditos'])
df_merged = pd.merge(x1, x2, on='Ano', how='inner')

In [32]:
df_merged['Predicao_art'] = df_merged['Xarelete_art_ind'].fillna(0) * df_merged['Captura Preditos'].fillna(0)

In [33]:
df_merged.to_excel('Xarelete_art_desagregado.xlsx', index=False)